

';lk<html>
	<head>
		<title>Book My Tickets</title>
		<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/> -->
		<!-- <link rel="stylesheet" type="text/css" href="css/bookShow.css"/> -->
		<script type="text/javascript" src="js/jquery.js">
		</script>
		<script type="text/javascript" src="js/bootstrap.js">
		</script> 
		<script type="text/javascript" src="js/bookShow.js">
		</script>

	</head>
	<body>
    <nav class="navbar navbar-expand-lg navbar-white bg-dark fixed-top">
     
  </nav>
  <br><br><br>
    <!--Ticket booking panel with dropdown for selecting movie,category and quantity-->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
						<h2 class="panel-title">Customer Requests</h2>
						</div>
						<div class="panel-body">
							<form accept-charset="UTF-8" role="form">
								<fieldset>
									<div class="row">      							
               						<div class="col-md-4 col-lg -12 col-sm-12 btn-group btn-input clearfix">
                   					<span data-bind="label">BookMyBand</span>
                           
               						</div>
                           <div class="col-md-4 col-lg -4 col-sm-12 btn-group btn-input clearfix">
                            <span data-bind="label">Bands</span>
                          
                          </div>
               						</div>



               						<div class="row">
             						<div class="col-md-2 col-xs-12" style="float:right;">
									<input class="book col-xs-12 btn btn-md btn-success disabled" type="button" value="Logout">
									</div>
									</div>


								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>